/* S UIKIT */
@media (min-width:640px) { }
/* M UIKIT */
@media (min-width:960px) { }
/* L UIKIT */
@media (min-width:1200px) { }
/* XL UIKIT */
@media (min-width:1600px) { }


/**************\
  INICIO VEDA
\************** /
html, body{
  filter: url('#grayscale');
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: Gray();
  filter: gray;
  background: #FFF;
}
/**************\
  FIN VEDA
\**************/
