:root {

	@each $name, $color in $colors {
		--#{$name}: #{$color};
	}

}

:focus {
	outline: dashed 2px map-get($colors, 'rojo-1') !important;
}

html,
body {
    color: map-get($colors, 'negro-1');
}

h1, .uk-h1,
h2, .uk-h2,
h3, .uk-h3,
h4, .uk-h4,
h5, .uk-h5 {
  color: map-get($colors, "negro-1");
}

.uk-link, a,
.uk-link-toggle:focus .uk-link,
.uk-link-toggle:hover .uk-link,
.uk-link:hover, a:hover {
  color:  map-get($colors, "rojo-2");
}

@each $name, $color in $colors {
	.c-#{$name} { color: $color; }
	.c-#{$name}\:h:hover { color: $color; }

	.bgc-#{$name} { background-color: $color; }
	.bgc-#{$name}\:h:hover { background-color: $color; }

	.bc-#{$name} { border-color: $color; }
}

@for $i from 1 through 10 {
	.b-solid-#{$i} {
		border-style: solid;
		border-width: #{$i+'px'};
	}

	.b-solid-#{$i}-remove {
		border-style: inherit;
		border-width: inherit;
	}

	@each $side in $sides {
		.b-solid-#{$i}-#{$side} {
			border-#{$side}-style: solid;
			border-#{$side}-width: #{$i+'px'};
		}

		.b-solid-#{$i}-#{$side}-remove {
			border-#{$side}-style: inherit;
			border-#{$side}-width: inherit;
		}
	}
}
